.form-field {
    width: 100%;
    font-size: 14px;
}
input, .mat-input-placeholder {
    text-align: center;
}
::ng-deep .mat-form-field-placeholder {
    text-align: center;
}
@media (max-width: 480px) { 
    .form-field {
        width: 120px;
        font-size: 12px;
    }
}