
div {
    display: inline-flex;
    flex-wrap: wrap;
    width: 100%; 
}
.directions-button-container {
    margin: auto;
    padding: 10px 5px;
}
.directions-button {
    width: auto;
    text-align: center;
}
.mat-button {
    font-family: 'Open Sans', sans-serif !important;
}
.map-container {
    position: relative;
    height: auto;
    width: 100%;
    text-align: center;
}
img {
    margin: auto;
    max-width: 100%;
    height: auto;
}
a {
    color: rgba(0,0,0,.87);
}
.card-actions {
    padding-bottom: 0;
    padding-top: 0;
    text-align: center !important;

}
.address-top {
    margin: 0;
    text-transform: uppercase;
}
.address-bottom {
    margin-bottom: 10px;
}
.fa-phone {
    font-size: 1.2em;
    top: 2px;
    position: relative;
    padding-right: 5px;
}
.mat-card-title {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: -0.05em;
    font-weight: 500;
    font-size: 1.25em;
    line-height: 1.2em;
    word-break: break-word;
}
.agent-card {
    width: 100%;
    margin: 30px 0 0;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    &:hover {
        -webkit-box-shadow: 0px 4px 15px 1px rgba(156,156,156,1);
        -moz-box-shadow: 0px 4px 15px 1px rgba(156,156,156,1);
        box-shadow: 0px 4px 15px 1px rgba(156,156,156,1);
    }
}

.selected-agent {
    position: absolute;
    top: 0;
    right: 0;
    color: #eeeeee;
    padding: 5px;
    width: auto;
    font-size: 1.5em;
    .red {
        color: #D0112B;
    }
}