<mat-card class="agent-card" (click)="agentSelected()">
  <div class="selected-agent">
    <i class="fa fa-map-marker" [ngClass]="{'red': isSelected(agent)}"></i>
  </div>
  <mat-card-header>
    <mat-card-title>{{agent.name}}</mat-card-title>
    <mat-card-subtitle>
      <i class="fa fa-phone"></i>
      <a href="tel:+{{agent.phone}}" class="phone-number">
          {{formatPhoneNumber(agent.phone)}}
      </a>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p class="address-top">
      {{agent.address}}
    </p>
    <p class="address-top">
      {{agent.city}}, {{agent.state}} {{agent.zip}}
    </p>
    <p class="address-bottom">
      {{agent.county}} COUNTY
    </p>
    <div class="map-container">
      <img *ngIf="agent.showMap" src="https://maps.googleapis.com/maps/api/staticmap?center={{agent.latitude}},{{agent.longitude}}&zoom=15&size=200x200&key=AIzaSyBy34i8mK7IXxcAqmZfOEX70XZtNEt7D7s" />
      <a class="directions-button-container" href="https://www.google.com/maps/search/{{agent.address}} {{agent.city}} {{agent.state}} {{agent.zip}} />" target="_blank">
        <button *ngIf="agent.showMap" mat-button class="directions-button">GET DIRECTIONS</button>
      </a>
    </div>
    <mat-card-actions class="card-actions">
      <button *ngIf="!agent.showMap" mat-raised-button (click)="agent.showMap=true" matTooltip="Show Local Map" [matTooltipPosition]="'below'">SHOW MAP</button>
      <button *ngIf="agent.showMap" mat-raised-button (click)="agent.showMap=false" matTooltip="Hide Local Map" [matTooltipPosition]="'below'">HIDE MAP</button>
      <a *ngIf="agent.url" href="{{agent.url}}" target="_blank">
        <button mat-raised-button matTooltip="Go to {{agent.url}}" [matTooltipPosition]="'below'">MORE INFO</button>
      </a>
    </mat-card-actions>
  </mat-card-content>
  
</mat-card>