mat-toolbar {
    margin-bottom: 10px;
}
.fa-bars, .fa-volume-up {
    cursor: pointer;
}
small {
    font-size: 0.6em;
    position: relative;
    top: -3px;
    padding-right: 10px;
    cursor: pointer;
}
.fa-user {
    padding-right: 2px;
}
.menu-title {
    background-color: #ddd;
    padding: 10px;
}
.example-spacer {
    flex: 1 1 auto;
}
a {
    text-decoration: none;
}
@media (max-width: 480px) { 
    .col {
        padding: 0;
    }
    button.mat-menu-item {
        font-size: 10px;
    }
}