<mat-toolbar color="default">
  <div class="col padding-left-0">
    <a href="https://www.fmiweb.com/site/" target="_blank" matTooltip="Since 1879" [matTooltipPosition]="'after'">
      <img class="d-none d-md-inline" height="50" src="assets/logo.png" />
      <img class="d-inline d-md-none" height="30" src="assets/logo-small.png" />
    </a>
    
  </div>
  <div class="col-6 text-center">
    <app-filter></app-filter>
  </div>
  
  <div class="col text-right padding-right-0">
    <i class="fa fa-volume-up" (click)="playAudio()" matTooltip="Play audio" [matTooltipPosition]="'before'"></i>
    <span matTooltip="Information about this app" [matTooltipPosition]="'before'">
      <i class="fa fa-info" (click)="openSnackBar()"></i>
    </span>
    <div [matMenuTriggerFor]="appMenu" matTooltip="Want Source Code?" [matTooltipPosition]="'before'" class="menu-icon d-inline">
      <i class="fa fa-bars"></i>
    </div>
  </div>
</mat-toolbar>

<mat-menu #appMenu="matMenu">
  <div class="menu-title">Thanks for visiting</div>
  <button mat-menu-item [matMenuTriggerFor]="subMenu">
    <i class="fa fa-github"></i>
    View the code on Github
  </button>
  <a href="http://portfolio.josedelavalle.com" target="_blank">
    <button mat-menu-item>
      <i class="fa fa-user"></i>
      See My Full Portfolio
    </button>
  </a>
  
</mat-menu>

<mat-menu #subMenu="matMenu">
  <a href="https://github.com/josedelavalle/FranklinMutualApp" target="_blank">
    <button mat-menu-item>Angular 5 Web App</button>
  </a>
  <a href="https://github.com/josedelavalle/FranklinMutualAPI" target="_blank">
    <button mat-menu-item>.NET Core 2 Web Scraper and API</button>
  </a>
</mat-menu>