mat-toolbar {
    margin-bottom: 12px;
    background: #ddd;
}
.fa {
    color: #666666;
    font-size: 1.8em;
    cursor: pointer;
}
.fa-info, .fa-volume-up {
    margin-right: 20px;
}
small {
    font-size: 0.6em;
    position: relative;
    top: -3px;
    padding-right: 10px;
    cursor: pointer;
}
.fa-github {
    padding-right: 5px;
}
.fa-user {
    padding-right: 10px;
}
.menu-title {
    text-align: center;
    background-color: #ddd;
    padding: 10px;
}
.example-spacer {
    flex: 1 1 auto;
}
a {
    text-decoration: none;
}
@media (max-width: 550px) { 
    .col {
        padding: 0;
    }
    button.mat-menu-item {
        font-size: 10px;
    }
    .fa {
        font-size: 1em;
        padding-right: 3px;
    }
}