.blog-card {
    width: 100%;
    margin-bottom: 10px;
}
.showing-string {
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: #ddd;
    padding: 10px;
    text-align: center;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    span {
        margin: auto;
        font-weight: 600;
    }
}
.container-fluid {
    position: absolute;
}
.agency-list {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow-y: scroll !important;
    overflow-x: hidden;
    display: flex;
    flex-wrap: wrap;
    div {
        display: inline-flex;
        flex-wrap: wrap;
        width: 100%;
    }
}