@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body {
    background-color: #a1a2a3 !important;
    font-family: 'Open Sans', sans-serif !important;
}
* {
    outline: none !important;
    user-select: none;
}
app-agent-card {
    width: 100%;
}
app-chart {
    width: 100%;
    height: 100%;
}
.padding-left-0 {
    padding-left: 0px !important;
}
.padding-right-0 {
    padding-right: 0px !important;
}
.mat-card-header-text {
    margin: 0 !important;
}
.mat-menu-content {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
svg > g > g:last-child { pointer-events: none }

.gmnoprint, .gm-style-cc {
    display: none !important;
}